@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}


html, body {
  overflow-x: hidden;
}


body {
    margin: 0;
    background-color: #051728;
}


body::-webkit-scrollbar {
  display: none;
}


.main1 {
    background-size: cover;
    min-height: 100vh;
    width:100%;
    background: 
        linear-gradient(to bottom, transparent 0%, transparent 85%, black 100%),
        url("assets/Hero_image.jpg") no-repeat center center;
}


.nav{
    margin-bottom: 50px;
    margin-inline: 20px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}


.logo {
    padding-left: px;


}

.navbutton{
    z-index: 50;
    background-color: #00C9E0;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 48px;
    border: none;
    font-weight: 700;
    letter-spacing: 10%;
    box-shadow: 5px 15px 40px 0px rgba(0, 201, 224, 0.2);
    position: relative;

}

.menubutton:hover {
    background-color: #00A7B8;
}


.maindiv{
    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
}


.listai{
    opacity: 0; 
    animation: fadeIn 1.5s ease forwards;
}

.navdecoration {
    position: absolute;
    top: 75px;
    right: 160px;
    z-index: 55;
}


.main2 {
    height: 117vh;
    width: 100%;
    background-size: cover;
    display: flex;
    position: relative;
}



.maindiv{
    display: flex;
    flex-direction: column;
}
.maindiv>h1{
    
    color: white;
    font-family: "DM Serif Text";
    font-weight: 400;
    font-size: clamp(50px, 6vw, 100px);
    text-align: center;


}

.maindiv>h2 {
    text-align: center;
    font-family: "Montserrat";
    font-size: clamp(10px, 1vw, 18px);
    color: white

}

.maindiv>p{
    color: white;
    padding-top: 4%;
    font-size: clamp(10px, 1vw, 16px);
    margin-inline: 20px;
    font-family: "Montserrat";
    text-align: center;

}

.scroll{
    padding-top: 150px;
    color: white;
    font-family: "Montserrat";
    padding-left: 5%;
    font-size: clamp(10px,  1vw, 16px);
    position: relative;
}

.blue-line{
    position:absolute ;
    padding-left: 105px;
}

@keyframes fade-intxt {
    from{
        opacity: 0;
    }
    
}

.main2{
    animation-name: fade-intxt;
    animation-fill-mode: both;
    animation-timing-function: linear; view-timeline-name: --fade-in-image; animation-timeline: --fade-in-image; animation-range: 25% 50%;
}



.header2{
    color: white;

}


.header2>h1{    
    font-family: "Playfar Display";
    padding-left: 400px;
    font-weight: 700;
    top: 50px;
    font-size: clamp(24px, 5vw, 50px);
    position: absolute;

}


.header2>p{
    position: absolute;
    left: 770px;
    color: white;
    top: 70px;
    font-family: "Playfar Display";
    margin-right: 100px;
}

.header2>img{
    position: absolute;
    left: 719px;
    top: 80px;
}




.decorations1{
    width: 260px;
    height: 323px;
    z-index: -1;
    top: -6%; 
    position: absolute;
    backdrop-filter: blur(250px);
    transform: rotate (26.06 deg);
    opacity: 80%;
}

.decorations2{
    z-index: -2;
    top: 200px; 
    position: absolute;
    width: 300px;
    height: 323px;
    left: 2px;
    margin: 0%;
    backdrop-filter: blur(250px);

}


.tabs {
  position: relative;
  display: flex;
  right: 230px;
  gap: 150px;
  top: 200px;
}


.tabs a {
  margin-right: 30px;
  text-decoration: none;
  color: #aaa;
}

.slider {
    width: clamp(200px, 40vw, 386px);
    height: clamp(260px, 50vw, 507px);
    overflow: hidden; 
    position: relative;
    top: 200px;
    left: 100px;
    border-radius: 8px;
    z-index: 1;
    opacity: 0.9;
}

.slides {
  display: flex;
  transition: transform 0.5s;
}

.slides img {
  width: 500px;     
  height: 700px;    
  object-fit: cover;
}

.prev {
    border-radius: 10px;
    width: 45px;
    position: absolute;
    top: 450px;
    height: 50px;
    font-size: 30px;
    left: 290px;
    z-index: 1;
    background-color: black;
    color: white;
    opacity: 0.5;
}

.next {
    border-radius: 10px;
    width: 45px;
    left: 340px;
    position: absolute;
    top: 450px;
    height: 50px;
    font-size: 30px;
    background-color: black;
    color: white;
    opacity: 0.5;
}

.txtmain2{
    display: flex;
    padding: 0%;
    margin: 0%;
}

.txt1{
    font-size: clamp(16px, 3vw, 50px);
    font-weight: 700;
    top: 230px;
    left: 200px;
    color: white;
    position: relative;
}

.txt2{
    position: absolute;
    top: 400px;
    left: 650px;
    color: white;
    font-weight: bold;
}

.txt3{
    position: absolute;
    color: white;
    top: 500px;
    left: 650px;
}


.fire-button{
    z-index: -1;
}

.img-button {
    position: absolute;
    left: 600px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    top: 600px;
}



.main3 {
    background-image: url(/assets/main3-bg.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    position: relative;


    animation-fill-mode: both;
    animation-timing-function: linear; view-timeline-name: --fade-in-image; animation-timeline: --fade-in-image; animation-range: 25% 50%;
}

.main3-btn{
    background: none;
    border: none;
}
.main3-box{
    padding-left: 100px;
    padding-right: 100px;
}
.main3-txt{
    color: white;
    padding-top: 100px;

}

.main3-h1{
    font-family: "Playfair Display";
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 30px;

}

.main3-p1{
    font-family: "Montserrat";
    font-weight: 700;
    margin-bottom: 30px;
}

.main3-p2{
    font-family: "Montserrat";
    margin-bottom: 20px;
}

.main3-p3{
    font-family: "Montserrat";
    font-weight: 700;
}

@keyframes fade-in {
    from{
        opacity: 0;
        translate: 10vw;
    }
    
}
.main3-poster{
    right: 20px;
    top: 100px;
    display: flex;
    position: relative;

    animation-name: fade-in;
    animation-fill-mode: both;
    animation-timing-function: linear;
    view-timeline-name: --fade-in-image;
    animation-timeline: --fade-in-image;
    animation-range: 25% 60%;
}

.ab1{
    border-radius: 48px;
    position: absolute;
    left: 600px;
    width: 300px;
    height: 200px;
}

.ab2{
    border-radius: 48px;
    left: 920px;
    position: absolute;
    width: 350px;
    height: 200px;
}

.ab3{
    border-radius: 48px;
    top: 210px;
    left: 600px;
    position: absolute;
    width: 300px;
    height: 200px;
}

.ab4{
    border-radius: 48px;
    top: 210px;
    left: 920px;
    position: absolute;
    width: 350px;
    height: 200px;
}

.star{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 860px;
    bottom: -255px;

}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.main4{
    scroll-timeline: --full-main4-scroll block;
    height: 100vh;
    display: flex;
    position: relative;

    animation-fill-mode: both;
    animation-timing-function: linear; 
    view-timeline-name: --fade-in-image;
    animation-timeline: --fade-in-image;
    animation-range: 25% 50%;

}


.maindiv4{
    padding-left: 30%;
    padding-top: 100px;
}
.maindiv4header>h1{
    font-family: "Playfair Display";
    color: white;
    padding-left: 120px;
    font-weight: 700;
    font-size: 70px;
    letter-spacing: -2%;
    padding-bottom: 30px;
}

.maindiv4header>h2{
    padding-left: 100px;
    font-family: "Montserrat";
    color: white;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 15%;
    text-align: center;

}

.mdiv1{
    position: absolute;
    background-color: #02223B;
    margin-top: 400px;
    left: 300px;
    width: 410px;
    height: 404px;
    color: white;
}

.person1{
    position: relative;
    top: 170px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.person2{
    position: relative;
    top: 170px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.person3{
    position: relative;
    top: 170px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.person4{
    position: relative;
    top: 170px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.mdiv2{
    position: absolute;
    background-color: #02223B;
    margin-top: 400px;
    left: 800px;
    width: 410px;
    height: 404px;
    color: white;

}

.mdiv3{
    position: absolute;
    background-color: #02223B;
    margin-top: 890px;
    left: 300px;
    width: 410px;
    height: 404px;
    color: white;
}

.mdiv4{
    position: absolute;
    background-color: #02223B;
    margin-top: 890px;
    left: 800px;
    width: 410px;
    height: 404px;
    color: white;
}

.end1{
    left: 35%;
    color: white;
    top: 1600px;
    position: absolute;
    font-family: Noe Display;
    font-weight: 700;
    font-size: 50px;


}

.end2{
    left: 32%;
    color: white;
    top: 1700px;
    position: absolute;
    color: white;
    text-align: center;
}

.endlogo{
    position: absolute;
    top: 1450px;
    left: 680px;
}








@media (max-width: 768px) {
    .maindiv>h1{
        font-size: 60px;
    }
    .maindiv>h2{
        font-size: 13px;
    }
    .scroll{
        font-size: 15px;
        padding-top: 100px;
    }

    .maindiv>p{
        font-size: 15px;
        padding-top: 10%;
    }

    .text-pop-up-top{
        padding-top: 35%;
    }
    
    .header2>h1{
        padding-left: 15%;
        padding-top: 10%;

    }

    .header2>img{
        display: none;
    }

    .txt1{
        top: 20%;
        left: 5%;
        position: absolute;
    }
    .slider{
        align-items: center;
        top: 25%;
        height: 50%;
    }
    .prev{
        top: 50%;
        left: 5%;
    }
    .next{
        top: 50%;
        left: 85%;
    }

    .long-b{
        display: none;
    }

    .txt2{
        top: 850px;
        left: 5%;
    }
}




